<h1>Search result</h1>
<h3><%= @wises_scrape %></h3>
<p><%= button_to 'Download CSV', :action => 'export', :keyword => params[:keyword], :location => params[:location] %></p>
<p><%= button_to 'New search', :action => 'search' %></p>
